<div class="photo-card">
    <img src="{{this.webformatURL}}" alt="photo-card__webformatURL" class="photo-card__webformatURL">
    {{!-- ссылка на маленькое изображение для списка карточек --}}

    {{!-- <img src="{{largeImageURL}}" alt="photo-card__largeImageURL" class="photo-card__largeImageURL"> --}}
    {{!-- ссылка на большое изображение (смотри пункт 'дополнительно') --}}
    <div class="photo-card__stats">

        <p class="likes"> <i class="material-icons">thumb_up</i>
            {{likes}} <br \ />likes</p> {{!-- количество лайков --}}

        <p class="views"><i class="material-icons">visibility</i>
            {{views}} <br \ />views</p> {{!-- количество просмотров --}}

        <p class="comments"><i class="material-icons">comment</i>
            {{comments}} <br \ />comments</p> {{!-- количество комментариев --}}

        <p class="downloads"><i class="material-icons">cloud_download</i>
            {{downloads}} <br \ />downloads</p> {{!-- количество загрузок --}}
    </div>
    <span class="tags">{{tags}}</span>
</div>